<!DOCTYPE html>
<html>
<head>
<title>index</title>
<meta charset="utf-8">
</head>
<body>
    <%= gugudan %> 단 출력
    <br>
    <% for (let i = 1; i < 10; i++){ %>
        <%= i %> X <%= gugudan %> = <%= i * gugudan%>
        <br/ >
    <% } %>
</body>
</html>